<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-primary bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="/home">Toro Investimentos</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarsExample11"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExample11">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a
                  class="nav-link disabled text-white"
                  href="#"
                  tabindex="-1"
                  aria-disabled="true"
                >
                  <span class="fa fa-user text-white"></span>
                  Bem vindo, {{ nome }}</a
                >
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item active">
                <a
                  class="nav-link disabled text-white"
                  href="#"
                  tabindex="-1"
                  aria-disabled="true"
                >
                  <span class="fa fa-dollar text-white"></span>
                  Saldo disponível: {{ saldo }}</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container vw-100 vh-100 mt-3">
      <div class="row d-flex">
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne"
                aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne"
              >
                <span class="fa fa-pie-chart"></span> &nbsp;Posição de ativos
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="panelsStayOpen-headingOne"
            >
              <div class="accordion-body">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Ativo</th>
                      <th scope="col">Valor</th>
                      <th scope="col">Quantidade</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let ativo of ativos | async">
                    <tr class="rowB2">
                      <td class="col-6">{{ ativo.codigo }}</td>
                      <td class="col-4">{{ ativo.valor }}</td>
                      <td class="col-2">{{ ativo.quantidadeNegociados }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row d-flex">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header">
              <span class="fa fa-fire"></span>
              Top 5 ativos mais vendidos
            </div>
            <div class="card-body">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th scope="col">Ativo</th>
                    <th scope="col">Valor</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody *ngFor="let ativo of ativos | async">
                  <tr class="rowB2">
                    <td class="col-6">{{ ativo.codigo }}</td>
                    <td class="col-4">{{ ativo.valor }}</td>
                    <td class="col-2 text-center">
                      <button
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        data-id="{{ ativo.id }}"
                      >
                        <span class="fa fa-shopping-cart"></span>&nbsp;Comprar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Comprar ativo</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group mb-2">
                <label for="ativo">Ativo: PETR4</label> |
                <label for="valor">Valor: 28,44</label>
              </div>
              <div class="form-group mb-3">
                <label for="quantidadeNegociados">Quantidade</label>
                <input
                  type="text"
                  class="form-control"
                  name="quantidadeNegociados"
                  id="quantidadeNegociados"
                  mask="000.000.000.000.000,00"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-light btn-sm"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button type="button" class="btn btn-primary">
              <span class="fa fa-shopping-cart"></span>&nbsp;Finalizar compra
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
