<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <app-loading></app-loading>
    <header>
      <nav class="navbar navbar-expand-sm navbar-primary bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="/home">Toro Investimentos</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarsExample11"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExample11">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a
                  class="nav-link text-white"
                  href="#"
                  tabindex="-1"
                  aria-disabled="true"
                  (click)="logout()"
                >
                  <span class="fa fa-user text-white"></span>&nbsp;
                  <span  id="nome-usuario">Bem vindo, {{ usuario.nome }}</span>&nbsp;
                  <span class="fa fa-sign-out text-white"></span>
                </a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item active">
                <a
                  class="nav-link disabled text-white"
                  href="#"
                  tabindex="-1"
                  aria-disabled="true"
                >
                  <span class="fa fa-dollar text-white"></span>&nbsp;                  
                  <span id="saldo-conta-corrente">Saldo disponível: {{ usuario.ContaCorrente.saldo | currency: "BRL" }}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container vw-100 vh-100 mt-3">
      <div class="row d-flex">
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne"
                aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne"
              >
                <span class="fa fa-pie-chart"></span> &nbsp;Posição de ativos
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="panelsStayOpen-headingOne"
            >
              <div class="accordion-body">
                <table
                  id="tabela-ativos-usuario"
                  class="table table-bordered table-hover"
                  *ngIf="usuario.AtivosUsuario.length > 0"
                >
                  <thead>
                    <tr>
                      <th scope="col">Ativo</th>
                      <th scope="col">Valor</th>
                      <th scope="col">Quantidade</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let ativoUsuario of usuario.AtivosUsuario">
                    <tr class="rowB2">
                      <td class="col-6 codigo">
                        {{ ativoUsuario.ativoModel.codigo }}
                      </td>
                      <td class="col-4 valor">
                        {{ ativoUsuario.ativoModel.valor | currency: "BRL" }}
                      </td>
                      <td class="col-2 quantidade">
                        {{ ativoUsuario.quantidade }}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="usuario.AtivosUsuario.length == 0">
                  <p class="text-center">Usuário não possui ativos.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row d-flex">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header">
              <span class="fa fa-fire"></span>
              Top 5 ativos mais vendidos
            </div>
            <div class="card-body">
              <table class="table table-bordered table-hover" id="tabela-ativos">
                <thead>
                  <tr>
                    <th scope="col-6">Ativo</th>
                    <th scope="col-4">Valor</th>
                    <th scope="col-2"></th>
                  </tr>
                </thead>
                <tbody *ngFor="let ativo of ativos">
                  <tr class="rowB2">
                    <td class="col-6 codigo">{{ ativo.codigo }}</td>
                    <td class="col-4 valor">{{ ativo.valor | currency: "BRL" }}</td>
                    <td class="col-2 text-center">
                      <button
                        class="btn btn-primary btn-comprar-ativo shadow-none"
                        data-bs-toggle="modal"
                        data-bs-target="#modalComprarAtivo"                        
                        (click)="showModal(ativo.id, ativo.codigo, ativo.valor)"
                      >
                        <span class="fa fa-shopping-cart"></span>&nbsp;Comprar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="modalComprarAtivo"
      tabindex="-1"
      aria-labelledby="modalComprarAtivoLabel"
      aria-hidden="true"
      data-bs-backdrop="false"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalComprarAtivoLabel">Comprar ativo</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              #btnCancelar
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="form">
              <div class="form-group mb-2">
                <label for="ativo">Ativo: {{ codigoAtivoSelecionado }}</label> |
                <label for="valor">Valor: {{ valorAtivoSelecionado | currency: "BRL" }}</label>
              </div>
              <div class="form-group mb-3">
                <label for="quantidadeNegociados">Quantidade</label>
                <input
                  type="text"
                  class="form-control shadow-none"
                  name="quantidadeNegociados"
                  id="quantidadeNegociados"
                  mask="000.000.000.000.000,00"
                  formControlName="quantidade"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-light btn-sm"
              data-bs-dismiss="modal"              
              #btnCancelar
            >
              Cancelar
            </button>
            <button
              type="button"
              class="btn btn-primary btn-finalizar-compra shadow-none"
              [disabled]="form.invalid"
              (click)="finalizarCompra()"
            >
              <span class="fa fa-shopping-cart"></span>&nbsp;Finalizar compra
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
